/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-3-19, 17:16:57
    Author     : L
*/
      .backcolor01{
          background-color: #00cccc;
          width: 302px;
          height: 69px;
          margin-left: auto;
          margin-right: auto;
          border: 10px #006666;
          text-align:  center;
          line-height:  70px;
         }
      .backcolor01:hover{
         background-color: #006666;
         width: 302px;
         height: 69px;
      }
      .backcolor02{
          
          width: 320px;
          height: 1000px;
          margin-left: auto;
          margin-right: auto;
          border-style: solid;
          border-color:  #000000;
          border-width: 5px;
          text-align:  center;
          line-height:  70px;
      }
      .backcolor03{
          background-color: #666666;
          width: auto;
          height:  auto;
      }
      .text00{
          font-size: 20px;
          color:  #ffffff;
          font-family: 微软雅黑;
      }
      .text01{
          text-align: center;
      }  
      .text02{
          font-size: 15px;
          color: #ffffff;
          font-family: 微软雅黑;
      }
